# Python
__pycache__
*.pyc

# Virtual env
venv/

# Config
instance/
config.yml
tac_plus-ng.cfg
tacacs-generated.cfg
policy.json
secret.env
pass.secret
devices.secret

# Logs
*.log
.locks/
*.lock

user_secrets.json
web_users.json
